<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Магазин</title>
</head>
<body bgcolor="CCFFFF" text="navy">
    <h1>
        <b>
            Товары
        </b>
    </h1>
    <h3>
        * {{ text1 }}
        <button>
            Купить
        </button>
    </h3>
    <br>
    <h3>
        * {{ text2 }}
        <button>
            Купить
        </button>
    </h3>
    <br>
    <h3>
        * {{ text3 }}
        <button>
            Купить
        </button>
    </h3>
    <br>
    <a href="../"><input type="button" value="Вернуться на главную страницу"/></a>
</body>
</html>